* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --preto: #000;
    --laranja: #F24405;
    --marrom: #261515;
    --laranja-escuro: #590902;
    --laranja-claro: #F25C05;
    --branco: #fff;
    --cinza: #F2F2F2;
}
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main>section {
    width: 100%;
}

button {
    margin-top: 30px;
    background-color: var(--laranja);
}

.linha_unica {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

label {
    padding-right: 10px;
    white-space: nowrap;
}
th{
    color: var(--cinza);
}
legend{
    color:var(--cinza)
}
label{
    color:var(--cinza)
}