* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main>section {
    width: 100%;
}

button {
    margin-top: 30px;
}