:root {
    --preto: #000;
    --laranja: #F24405;
    --marrom: #261515;
    --laranja-escuro: #590902;
    --laranja-claro: #F25C05;
    --branco: #fff;
    --cinza: #F2F2F2;
}
.graficos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

canvas {
    width: 300px;
}

#escolher_jogador {
    display: none;
}
main{
    float: left; width: 100%;
}
