section {
    margin: 10px;
}

button {
    margin-top: 30px;
}

section#graficos {
    position: relative;
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#insercoesparte1 {
    position: relative;
    height: auto;
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.insercoes {
    display: none;
}

.time {
    display: flex;
    justify-content: space-around;
}

#timeSelecionado {
    display: none;
}

.passes {
    display: flex;
    flex-direction: row;
}

.jogadores>form,
#insercoesparte1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#insercoesparte1>div {
    display: flex;
    flex-direction: row;
}

#jogadores_no_time,
#adicionar_jogador {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#jogadores_no_time>div {
    margin-bottom: 10px;
}


#jogadores_no_time>div>div {
    margin-top: 5px;
}

#novo_jogador {
    width: auto;
}

.form-label {
    padding-right: 10px;
}

.input_number {
    max-width: 50px;
    height: 30px;
}

span {
    padding-right: 10px;
    padding-left: 10px;
}

.linha_unica {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    section#graficos {
        position: relative;
        height: auto;
        width: 100%;
        width: 100vw;
        flex-direction: column;
        justify-content: space-between;
    }
}