:root {
    --preto: #000;
    --laranja: #F24405;
    --marrom: #261515;
    --laranja-escuro: #590902;
    --laranja-claro: #F25C05;
    --branco: #fff;
    --cinza: #F2F2F2;
}

.insercoes {
    display: none;
}

.time {
    display: flex;
    justify-content: space-around;
}

#timeSelecionado {
    display: none;
}

.passes,
.ataques,
.saques,
.bloqueios,
.levantamentos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.saques_span {
    cursor: pointer;
    padding: 2px 5px;
    background-color: var(--laranja);
    color: var(--cinza);
    border-radius: 10px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.saques td>div>span,
.ataques>span,
.bloqueios>span,
.levantamentos>span {
    cursor: pointer;
    padding: 2px 5px;
    background-color: var(--laranja);
    color: var(--cinza);
    border-radius: 10px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.saques td>div {
    display: flex;
    padding: 5px 10px;
}

#jogadores_no_time,
#adicionar_jogador {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#jogadores_no_time>div {
    margin-bottom: 10px;
}


#jogadores_no_time>div>div {
    margin-top: 5px;
}

#novo_jogador {
    width: auto;
}

.form-label {
    padding-right: 10px;
}

input[type=number] {
    max-width: 30px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

span {
    padding-right: 10px;
    padding-left: 10px;
}

.linha_unica {
    display: flex;
    flex-direction: row;
    align-items: center;
}