* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: space-around;
    text-align: center;
}

.times {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#times_masculinos,
#times_femininos,
#times_misto {
    display: flex;
    flex-direction: column;
}

#times_masculinos>button,
#times_femininos>button,
#times_misto>button {
    margin-bottom: 10px;
}